html, body {
    background: #FFF none repeat scroll 0 0;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: block;
}


body.fs1 { font-size: 10px; }
body.fs2 { font-size: 11px; }
body.fs3 { font-size: 12px; }
body.fs4 { font-size: 13px; }
body.fs5 { font-size: 14px; }
body.fs6 { font-size: 15px; }

/* normal links */
a { color: #571C19; text-decoration: none; }

a:hover,
a:active,
a:focus {
    color: #571C19;
    text-decoration: underline;
}

/* headings & titles */
h1 { font-size: 180%; }
h2 { font-size: 150%; }
h3 { font-size: 125%; }
h4 { font-size: 100%; text-transform: UPPERCASE; }
h5 { font-size: 100%; }


/* small text **/
small, .small { font-size: 92%; color: #999; }

/* others **/
th { font-weight: bold; padding: 5px; text-align: left; }

td { font-size: 100%; padding: 5px; }

fieldset { border: none; padding: 10px 5px; }

fieldset a { font-weight: bold; }

fieldset.input { padding: 0; }

hr {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid #ccc;
    height: 1px;
}

/* form **/
/*form label { cursor: pointer; }*/

input, select, textarea, .inputbox {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    padding: 2px 5px;
}

.inputbox { background: #fff; border: 1px solid #ccc; }

.inputbox:hover, .inputbox:focus { background: #ffffcc; }

#wrapper { 
    width: 100%;
    height: 100%;
}

.page__wrapper .inner { padding-top: 10px; padding-bottom: 10px; }

/* intro page */
.page-intro {
    height: 100%;
    left: 0px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 100%;
    margin: 0;
    padding: 0;
    background: url(../images/html5/background-tile.png) repeat;
}
.page-intro .holder {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
#ie6sucks {
    color: #f8f8f8;
}

/* page base */
.page-base {
    height: 100%;
    left: 0px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 100%;
    margin: 0;
    padding: 0;
    background: url(../images/html5/background-tile.png) repeat;
}
.page-base.current {
    display: block;
}
.page-base .holder {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.page__home .holder {
    background: transparent url(../images/html5/homepage_bg.png) no-repeat;
    background-position: 100% 25%;
}

.page__logo {
    position: absolute;
    top: 60px;
    left: 150px;
    text-align: center;
    width: 300px;
}
.logo__image {
    width: 291px;
    height: 26px;
    display: block;
    background: transparent url(../images/html5/logo.png) no-repeat 0 0;
}
.logo__subtext,
.logo__text {
    font-family: 'Ubuntu', serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    text-shadow: none;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.2;
    color: #f8f8f8;
}
.logo__text {
    display: block;
}
.logo__subtext {
    font-size: 24px;
    color: #FCDBD9;
}

.nav-arrows {
    position: absolute;
    display: block;
    top: 37%;
    margin: 0;
    padding: 0;
    border: none;
    z-index: 1001;
}
.nav-arrows a {
    width: 38px;
    height: 206px;
    display: block;
    background: transparent url(../images/html5/nav_arrows.png) no-repeat 0 0;
}
.nav-arrows__left { left: 0px; }
.nav-arrows__right { right: 0px; }

.nav-arrows__left a { background-position: 0px 0px; }
.nav-arrows__right a { background-position: -38px 0px; }

/* lang **/
.nav-lang {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    margin: 0 0 0 -103px;
    padding: 0 0 0 43px;
    z-index: 1001;
    line-height: 38px;
    height: 38px;
    width: 206px;
    background: url(../images/html5/nav_lang.png) no-repeat 0 0;
    vertical-align: middle;
}
.nav-lang__item {
    font-size: 9px;
    text-decoration: none;
    text-transform: uppercase;
    color: #f8f8f8;
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
}
.nav-lang__item:hover {
    color: #f8f8f8;
    text-decoration: underline;
}
.nav-lang__item.current,
.nav-lang__item.current:hover {
    color: #575757;
    text-decoration: none;
}
.nav-lang__separator {
    color: #f8f8f8;
    font-size: 11px;
}


.page__wrapper {
    position: absolute;
    margin: 0;
    background: url(../images/html5/transparent_tile.png);
    top: 150px;
    bottom: 50px;
    left: 80px;
    width: 50%;
    max-width: 700px;
    min-width: 300px;
    padding: 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.page__wrapper .page__content {
    background: #f8f8f8;
    height: 100%;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}


/** news **/
.page__wrapper.news { width: 600px; }
.page__wrapper.news .page__content { width: 580px; padding: 0px 10px; }
.news__item {
    position: relative;
    padding-left: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.news__item__created {
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    background: url(../images/html5/createdate-bg.png) no-repeat;
    color: #fff;
    text-align: center;
}
.news__item__created span.date {
    display: block;
    font-family: Georgia;
    font-size: 250%;
    line-height: 20px;
    margin: 0;
    padding: 0;
    padding-top: 10px;
}
.news__item__created span.month {
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    margin: 2px 0 0;
    padding: 0;
}
.news__item__content {
    display: block;
    min-height: 100px;
}
.news__item__separator {
    background: url(../images/html5/dot.gif) repeat-x 0% 100%;
}


/** biography **/
.page__biography {
    background-image: url(../images/html5/photos-bg-tile.png);
}
.page__wrapper.biography {
    width: 600px; 
    background-image: url(../images/html5/photos_transparent_tile.png);
}
.page__wrapper.biography .page__content { width: 580px; padding: 0px 10px; }
.page__biography .holder {
    background: transparent url(../images/html5/biography_bg.png) no-repeat;
    background-position: 100% 100%;
}

/** music **/
.page__wrapper.music { width: 585px; }
.page__wrapper.music .page__content {}
.page__music .holder {
    background: transparent url(../images/html5/music_bg.png) no-repeat;
    background-position: 90% 100%;
}
.music-block {
    overflow: hidden;
    float: left;
    clear: both;
    margin: 0;
    padding: 10px;
    width: 100%;
    position: relative;
}
.music-albums { position: relative; }

.music-album {
    display: block;
    float: left;
    padding: 0;
    margin: 0 0 10px;
    position: relative;
    clear: both;
}
.music-album.first { margin-left: 0; }
.music-album.last { margin-bottom: 0; }

.music-album__detail {
    height: 90px;
    padding: 0 6px 0 0;
    margin: 0;
    float: left;
    background: #eaeaea;
    border-right: 1px solid #c9c9c9;
}
.album__cover {
    overflow: hidden;
    display: block;
    height: 75px;
    width: 75px;
    border: 1px solid #ccc;
    background: #fff;
    padding: 1px;
    left: 5px;
    top: 5px;
    position: absolute;
    vertical-align: middle;
}
.album__cover img { width: 75px; }

.album__text {
    padding-left: 90px;
}
.album__title {
    overflow: hidden;
    white-space: nowrap;
    padding-top: 5px;
    width: 135px;
}
.album__title:hover {}
.album__year {
    font-size: 11px;
}
.album__tracks {
    font-size: 11px;
}
.album__download {
    font-size: 11px;
}


.music-album__tracklist {
    float: left;
    padding: 0;
    margin: 0 0 0 5px;
    position: relative;
    width: 300px;
    
}
.tracklist__track {
    padding: 0;
    margin: 0 0 2px 0;
    position: relative;
    height: 25px;
    padding-left: 25px;
    background: #eaeaea;
    overflow: hidden;
    display: block;
}
.track__play {
    display: block;
    cursor: pointer;
    width: 19px;
    height: 19px;
    overflow: hidden;
    left: 5px;
    position: absolute;
    top: 3px;
    background: url(../images/html5/player_play_stop_buttons.png) no-repeat;
    background-position: 0 0;
}
.music-track.active .track__play {
    background-position: -19px 0px;
}
.track__title {
    display: block;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    font-size: 13px;
    padding-left: 6px;
    white-space: nowrap;
    cursor: pointer;
    float: left;
}
.track__download {
    display: block;
    
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    font-size: 11px;
    position: absolute;
    right: 0px;
    top: 0px;
}
.track__meta { display: none !important; }

/*** single tracks ***/
.music-single-tracks {
    margin: 1.5em 0 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    width: 540px;
}
.music-single-tracks span.title {
    font-size: 14px;
    font-weight: bold;
    padding-left: 0.5em;
    margin-bottom: 0.2em;
    border-bottom: 1px solid #c9c9c9;
}
.music-single-track {
    position: relative;
    float: left;
    clear: both;
    margin: 0 0 2px 0;
    padding: 0;

    height: 25px;
    padding-left: 25px;
    background: #eaeaea;
    overflow: hidden;
    width: 515px;
}
.music-single-track.first {}
.music-single-track.last { margin-bottom: 0; }

.music-track.hover { background: #cacaca; }
.music-track.active { background: #c9c9c9; }

/** videos **/
.page__wrapper.videos { width: 620px; }
.page__wrapper.videos .page__content { width: 600px; padding: 0px 10px; }
.page__videos .holder {
    background: transparent url(../images/html5/videos_bg.png) no-repeat;
    background-position: 100% 100%;
}
.videos__table { width: 100%; }
.videos__table tr td { vertical-align: top; }
.video__cover { padding: 0; margin: 0; }
.videoThumb {
    background-color: #000;
    display: block;
    padding: 4px 0px;
    position: relative;
    margin: 0;
    width: 159px;
    height: 118px;
}
.videoThumb i {
    padding: 0;
    margin: 0 !important;
    width: 159px;
    height: 118px;
    background-position: 50% 25%;
    background-repeat: no-repeat;
    display: block;
}



/** photos **/
.page__photos {
    background-image: url(../images/html5/photos-bg-tile.png);
}
.page__wrapper.photos {
    width: 640px;
    background-image: url(../images/html5/photos_transparent_tile.png);
}
.page__wrapper.photos .page__content { width: 620px; padding: 0px 10px; }
.page__photos .holder {
    background: transparent url(../images/html5/photos_bg.png) no-repeat;
    background-position: 85% 100%;
}
.photo-albums {
    float: left;
    clear: both;
    width: 100%;
}
.photo-albums tr td {
    padding: 5px;
    margin: 0;
    vertical-align: top;
    width: 33%;
}
.photo-album__cover {
    float: left;
    clear: both;
    margin-bottom: 0.5em;
}
.albumThumb {
    margin: 0;
    padding: 0;
    background: #fff;
    border: 1px solid #ccc;
    display: inline-block;
    outline: none;
    padding: 4px;
    position: relative;
    vertical-align: bottom;
    margin-bottom: 4px;
    margin-right: 4px;
    height: 111px;
    width: 144px;
}
.albumThumbWrap {
    background: #fff;
    border: 1px solid #ccc;
    left: 4px;
    padding: 4px;
    position: absolute;
    top: 4px;
}
.albumThumbWrap i {
    background-color: #eee;
    background-position: 50% 25%;
    background-repeat: no-repeat;
    display: block;
    width: 144px;
    height: 111px;
}
.albumThumb:hover,
.albumThumb:hover .albumThumbWrap {
    border-color: #571C19;
}

.photo-album__detail {
    float: left;
    clear: both;
    margin-bottom: 1em;
}

/*** album page ***/
.album__table { width: 100%; }
.album__table tr td {}
.album__image {}
.album__image__thumb {
    background: #fff;
    border: 1px solid #ccc;
    display: inline-block;
    outline: none;
    padding: 4px;
    position: relative;
    vertical-align: bottom;
    text-decoration: none;
}
.album__image__thumb:hover {
    border-color: #571c19;
    text-decoration: none;
}
.album__image__thumb i {
    width: 144px;
    height: 111px;
    background-color: #eee;
    background-position: 50% 25%;
    background-repeat: no-repeat;
    display: block;
}
.context-loader {
    background: #eee url(../images/html5/metabox_loader.gif) no-repeat;
    background-position: 10px 50%;
    border: 1px solid #666;
    border-top: none;
    border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    color: #666;
    font-weight: bold;
    left: 50%;
    margin-left: -75px;
    padding: 10px 10px 10px 30px;
    position: absolute;
    top: 0px;
    width: 120px;
    z-index: 1001;
}
.photos__back {
    border-bottom: 1px solid #c9c9c9;
    margin: 0 0 10px;
}
.photos__back_button {
    display: block;
    background: url(../images/html5/back-arrow.png) no-repeat;
    background-position: 0px 50%;
    padding: 3px 0 3px 12px;
    font-weight: bold;
    line-height: 1.4;
    text-decoration: none;
}



/** wall **/
.page__wrapper.wall { width: 720px; }
.page__wrapper.wall .page__content { width: 700px; padding: 0px 10px; }
.page__wall .holder {
    background: transparent url(../images/html5/wall_bg.png) no-repeat;
    background-position: 90% 100%;
}


/** contacts **/
.page__wrapper.contacts { width: 640px; }
.page__wrapper.contacts .page__content { width: 620px; padding: 0px 10px; }
.page__contacts .holder {
    background: transparent url(../images/html5/contacts_bg.png) no-repeat;
    background-position: 100% 100%;
}
.contacts__list {
    float: left;
}
.contacts__list li {
    padding-left: 24px;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.contacts__list .tel {
    background-image: url(../images/html5/social/tel.png);
}
.contacts__list .email {
    background-image: url(../images/html5/social/email.png);
}
.contacts__list .icq {
    background-image: url(../images/html5/social/icq.png);
}
.contacts__list .jabber {
    background-image: url(../images/html5/social/jabber.png);
}
.contacts__list .twitter {
    background-image: url(../images/html5/social/twitter.png);
}
.contacts__list .website {
    background-image: url(../images/html5/social/website.png);
}
.contacts__list .gtalk {
    background-image: url(../images/html5/social/gtalk.png);
}
.contacts__list .vkontakte {
    background-image: url(../images/html5/social/vkontakte.png);
}
.contacts__list .facebook {
    background-image: url(../images/html5/social/facebook.png);
}
.contact-us {
    float: right;

}
#contact-us-message span.title {
    font-size: 13px;
    font-weight: bold;
}
#contact-us-message textarea {
    width: 300px;
    height: 100px;
    border: 1px solid #d5d5d5;
    padding: 10px;
    background: #f2f2f2;
}
#contact-us-submit { text-align: right; }


/* footer menu */
.footer-menu {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 15px;
    left: 130px;
}
.footer-menu__items {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-menu__items li {
    float: left;
    padding: 4px 10px;
    line-height: 1;
}
.footer-menu__items li.first { padding-left: 0; }
.footer-menu__items li.last { padding-right: 0; }

.footer-menu__items li a,
.footer-menu__items li a:hover {
    color: #f8f8f8;
}

/* photo copyass */
.photo-copyass {
    color: #fff;
    width: 130px;
    height: 50px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: url(../images/html5/photo_copyass.png) no-repeat 100% 100%;
    vertical-align: middle;
}
.photo-copyass__on_en {
    width: 120px;
}
.copyass__text {
    width: 50px;
    line-height: 1.2;
    margin-top: 5px;
    font-size: 11px;
}