{% load i18n %}
{% load html5_music %}

<div class="music-single-track music-track  clearfix {%if forloop.last %}last{%endif%} {%if forloop.first %}first{%endif%}">
  <span class="track__play clearfix">&nbsp;</span>
      <span class="track__title clearfix"
	    title="{{track.title|title}}">{{track.title|slice:':20'|title}}{% if track.title|length > 20 %}...{%endif%}</span>
  <a href="{{track.get_download_url}}"
     title="{% trans 'Download this track' %}"
     target="_blank" 
     class="track__download clearfix">{% trans 'download' %}</a>
  <ul class="track__meta">
    <li class="track__meta__id">{{track.pk}}</li>
    <li class="track__meta__name">{{track.title}}</li>
    <li class="track__meta__file">{{track.get_absolute_url}}</li>
  </ul>
</div>
