{% load i18n %}

{% for item in items %}
<div class="news__item clearfix">
  <h2 class="news__item__title clearfix">{{item.title}}</h2>

  <div class="news__item__created">
    <span class="date">{{item.pub_date|date:'j'}}</span>
    <span class="month">{{item.pub_date|date:'b'}}</span>
  </div>

  <div class="news__item__content clearfix">
    {{item.content|safe}}
  </div>

  {% if not forloop.last %}<div class="news__item__separator">&nbsp;</div>{% endif %}
</div>
{% empty %}
<div class="news__empty clearfix">{% trans 'No news yet.' %}</div>
{% endfor %}
