{% load i18n %}
{% load fb_versions %}

{% if albums %}
<div id="album-photos-block" class="clearfix">
<table id="album-photos" class="photo-albums clearfix">
{% for album in albums %}
  {% if album.photo_set.all %}
  {% url photos-album album.id as album_url %}
  {% if forloop.counter0|divisibleby:3 %}<tr>{% endif %}
    <td>
      <div class="photo-album__cover clearfix">
	<a href="#{{album_url}}" 
	   onclick="return photos.get_album_photos(this, '{{album.id}}');"
	   class="albumThumb clearfix">
	  <span class="albumThumbWrap">
	    <i style="background-image:url({% version album.photo_set.all.0.file.path 'small' %});"></i>
	  </span>
	</a>
      </div>
      <div class="photo-album__detail clearfix">
	<a href="{{album_url}}" class="photo-album__title clearfix">{{album.name}}</a>
      </div>
    </td>
  {% if forloop.counter|divisibleby:3 %}</tr>{% endif %}
  {% endif %}
{% endfor %}
{% if not albums|length|divisibleby:3 %}</tr>{% endif %}

</table>
</div>

{% else %}
<div class="albums__empty clearfix">{% trans 'No photos yet.' %}</div>
{% endif %}
