{% load i18n %}

<script type="text/javascript">
jQuery(document).ready(function($){
  $('a.album__image__button').colorbox({rel:"group{{album.id}}"});
});
</script>


<a href="#back" onclick="return photos.back(this);">{% trans 'back' %}</a>
<h3>{{album.name}}</h3>
{% if album.description %}<span class="clearfix">{{album.description}}</span>{% endif %}

<table class="album__table clearfix">
{% for item in images %}
  {% if forloop.counter0|divisibleby:3 %}<tr>{% endif %}
    <td>
      <div class="album__image clearfix">
	<a href="{{item.source}}" 
	   class="album__image__thumb album__image__button clearfix" rel="group{{album.id}}">
	  <i style="background-image:url({{item.picture}});"></i>
	</a>
      </div>
    </td>
  {% if forloop.counter|divisibleby:3 %}</tr>{% endif %}
{% endfor %}
{% if not album|length|divisibleby:3 %}</tr>{% endif %}
</table>

