{% load i18n %}

{% if errors %}
<div class="albums__errors clearfix">
  {{errors}}
</div>
{% endif %}

{% if albums %}
<div id="album-photos-block" class="clearfix">
<table id="album-photos" class="photo-albums clearfix">
{% for album in albums %}
  {% url photos-album album.id as album_url %}
  {% if forloop.counter0|divisibleby:3 %}<tr>{% endif %}
    <td>
      <div class="photo-album__cover clearfix">
	<a href="#{{album_url}}" 
	   onclick="return photos.get_album_photos(this, '{{album.id}}');"
	   class="albumThumb clearfix">
	  <span class="albumThumbWrap">
	    <i style="background-image:url(https://graph.facebook.com/{{album.cover_photo}}/picture?type=album);"></i>
	  </span>
	</a>
      </div>
      <div class="photo-album__detail clearfix">
	<a href="{{album_url}}" class="photo-album__title clearfix">{{album.name}}</a>
      </div>
    </td>
  {% if forloop.counter|divisibleby:3 %}</tr>{% endif %}
{% endfor %}
{% if not albums|length|divisibleby:3 %}</tr>{% endif %}

</table>
</div>

{% else %}
<div class="albums__empty clearfix">{% trans 'No photos yet.' %}</div>
{% endif %}
