{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{LANGUAGE_CODE}}">
<head>
<script type="text/javascript" src="https://getfirebug.com/firebug-lite.js#enableTrace=true"></script>
  <meta http-equiv="Content-Type" content="text/html; charset=utf8" />

  <title>{% block title %}{{ request.current_page.get_title }}{% endblock %}</title>

  <script src="{{MEDIA_URL}}js/jquery.min.js" type="text/javascript"></script>

  <script src="{{MEDIA_URL}}js/jqueryui.min.js" type="text/javascript"></script>
  <script src="{{MEDIA_URL}}js/jqueryui.effects.min.js" type="text/javascript"></script>
  <script src="{{MEDIA_URL}}js/jquery.blockUI.js" type="text/javascript"></script>
  <script src="{{MEDIA_URL}}js/jgrowl/jquery.jgrowl_google.js" type="text/javascript"></script>
  <script src="{{MEDIA_URL}}js/jscrollpane/jquery.mousewheel.js" type="text/javascript"></script>
  <script src="{{MEDIA_URL}}js/jscrollpane/jquery.jscrollpane.min.js" type="text/javascript"></script>
  <script src="{{MEDIA_URL}}js/colorbox/jquery.colorbox-min.js" type="text/javascript"></script>
  <script src="{{MEDIA_URL}}js/jplayer/jquery.jplayer.min.js" type="text/javascript"></script>
  <link href="{{MEDIA_URL}}css/addons.css" type="text/css" rel="stylesheet" />
  <link href="{{MEDIA_URL}}css/html5.css" type="text/css" rel="stylesheet" />
  <link href="{{MEDIA_URL}}js/jscrollpane/css/jquery.jscrollpane.css" type="text/css" rel="stylesheet" />
  <link href="{{MEDIA_URL}}js/jscrollpane/css/jquery.jscrollpane.theme.css" type="text/css" rel="stylesheet" />
  <link href="{{MEDIA_URL}}js/colorbox/colorbox.css" type="text/css" rel="stylesheet"/>
  <link href="{{MEDIA_URL}}css/jqueryui/ui-lightness/lightness.css" type="text/css" rel="stylesheet"/>
  <link href="{{MEDIA_URL}}css/wall/default.css" type="text/css" rel="stylesheet" />
  <link href="{{MEDIA_URL}}js/jgrowl/jquery.jgrowl.css" type="text/css" rel="stylesheet" />
{#  <link rel="stylesheet" href="{{MEDIA_URL}}js/videojs/video-js.css" type="text/css" media="screen" title="Video JS" charset="utf-8"> #}
  <link  href="http://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,bold,bolditalic&v1" rel="stylesheet" type="text/css" />

<!--[if IE 7.0]>
<style>
.clearfix { display: inline-block; } /* IE7 xhtml */
</style>
<![endif]-->

{% block header %}{% endblock %}

<script type="text/javascript">
var MadLoader = 27;
var WellDone = false;

function MadLoading(){
  var e = document.getElementById('percents');
  if (e) {
    if (MadLoader < 303) MadLoader = MadLoader + 1;
      
    e.innerHTML = Math.floor(MadLoader) + '%';
    e.style.fontSize = Math.floor(MadLoader / 303 * 60 + 12 * 1) + 'px';

    if (WellDone) return;

    e.style.display = 'inline';
  }
  setTimeout(MadLoading, 50);
}
</script>

</head>
<body id="bd" class="fs3">
  <div id="wrapper"></div>

  <div class="page-intro" id="pageintro">
    <div class="holder">
      <div style="position: absolute; left: 50px; top: 70px;">
	<span class="logo__text clearfix">kristelle.me</span>
	<span style="display:none;color:#FCDBD9;" id="percents">27%</span>

	<noscript>{% trans "Emmm. It seems that your browser doesn't support JavaScript. It's terribly :(" %}</noscript>

	<div style="display: none;" id="ie6sucks">
	  {% blocktrans %}
	  Internet Explorer, which you're using was released in 2001.
	  It's time to update browser.
	  {% endblocktrans %}
	</div>

	<script type="text/javascript">
          setTimeout(MadLoading, 50);
        </script>
      </div>
    </div>
  </div>

  {% include 'html5/player.html' %}

  {% include 'html5/homepage.html' %}

  {% include 'html5/biography.html' %}
  {% include 'html5/music.html' %}

  {% include 'html5/videos.html' %}
  {% include 'html5/photos.html' %}

  {% include 'html5/wall.html' %}

  {% include 'html5/contacts.html' %}

</body>
  <script src="{{MEDIA_URL}}js/messenger.js" type="text/javascript"></script>
  <script src="{{MEDIA_URL}}js/link.js" type="text/javascript"></script>
  <script src="{{MEDIA_URL}}js/navigation.js" type="text/javascript"></script>
  <script src="{{MEDIA_URL}}js/photos.js" type="text/javascript"></script>
  <script src="{{MEDIA_URL}}js/music.js" type="text/javascript"></script>
  <script src="{{MEDIA_URL}}js/contacts.js" type="text/javascript"></script>
{%comment%}
  <script src="{{MEDIA_URL}}js/videojs/video.js" type="text/javascript"></script>
  <script src="{{MEDIA_URL}}js/videos.js" type="text/javascript"></script>
{%endcomment%}
  <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?32"></script>
  <script type="text/javascript" src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>


<script type="text/javascript">
function FuckedIECheck(){
  if (jQuery.browser.msie && jQuery.browser.version < 7){
    jQuery('#percents').hide();
    jQuery('#ie6sucks').show();
    return false;
  }
  return true;
}

//VideoJS.setupAllWhenReady();
//VideoJS.DOMReady(function(){
//  var myManyPlayers = VideoJS.setup("All");
//});

jQuery(document).ready(function($){
  WellDone = true;
  if (FuckedIECheck()){
    $('a.video__button').colorbox({inline:true, scrolling:false});//, innerWidth:'640px', innerHeight:'480px'});
    $('div.jscrollpane').jScrollPane({'autoReinitialise':true});

    $('#wall-tabs').tabs();
    $('#pageintro').hide();
    var active_page_id = Link.getPathnameFromHashOfCurrentUrl('page-home');
    nav.goto_page(active_page_id);

    $('#player-block').jPlayer({ swfPath: "{{MEDIA_URL}}js/jplayer" });
    $('#player-block').bind($.jPlayer.event.play, function(){
      $(this).jPlayer("pauseOthers"); 
    });
    $('#player-block').bind($.jPlayer.event.ended, function(){
      music.play_next_or_stop();
    });


    try {
      VK.init({apiId:'{{params.vkontakte_apiId}}', onlyWidgets: true});
      VK.Widgets.Comments("vk_comments", {limit: 10, width: "678", attach: "*"});
     } catch (err){}
  }
});
</script>

</html>
