{% load i18n %}

{% if errors %}
<div class="videos__errors clearfix">
  {{errors}}
</div>
{% endif %}

{% if videos %}
<table class="videos__table clearfix">
{% for video in videos %}

  {% if forloop.counter0|divisibleby:3 %}<tr>{% endif %}
    <td>
      <div class="video__cover clearfix">
	<a href="#video-{{video.vid}}" title="{{video.title}}" 
	   class="videoThumb video__button clearfix" rel="group0">
	  <i style="margin:0;background-image:url({{video.thumbnail_link}});"></i>
	</a>
      </div>
      <div class="video__detail clearfix">
	<a href="#video-{{video.vid}}" title="{{video.title}}" 
	   class="photo-album__title video__button clearfix">{{video.title}}</a>
      </div>
      <div style="display:none;">
	<div id="video-{{video.vid}}">
	  {{video.embed_html|safe}}
	</div>
      </div>
    </td>
  {% if forloop.counter|divisibleby:3 %}</tr>{% endif %}
{% endfor %}
{% if not videos|length|divisibleby:3 %}</tr>{% endif %}

</table>
{% else %}
<div class="videos__empty clearfix">{% trans 'No videos yet.' %}</div>
{% endif %}
