{% extends 'example.html' %}
{% load i18n %}

{% block header %}
  {{block.super}}

<script src="{{MEDIA_URL}}js/jquery.min.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}js/colorbox/jquery.colorbox-min.js" type="text/javascript"></script>
<link href="{{MEDIA_URL}}js/colorbox/colorbox.css" type="text/css" rel="stylesheet"/>

<script type="text/javascript">
jQuery(document).ready(function($){
  $('a.video__button').colorbox({inline:true, rel:'group0'});
});
</script>
{% endblock %}

{% block content %}
<h3>{% trans 'Videos' %}</h3>

<pre>{{items}}</pre>

<table class="videos__table clearfix">
{% for video in videos %}

  {% if forloop.counter0|divisibleby:4 %}<tr>{% endif %}
    <td>
      <div class="video__cover clearfix">
	<a href="#video-{{video.vid}}" title="{{video.title}}" 
	   class="videoThumb video__button clearfix" rel="group0">
	  <i style="margin:0;background-image:url({{video.thumbnail_link}});"></i>
	</a>
      </div>
      <div class="video__detail clearfix">
	<a href="#video-{{video.vid}}" title="{{video.title}}" 
	   class="photo-album__title video__button clearfix">{{video.title}}</a>
      </div>
      <div style="display:none;">
	<div id="video-{{video.vid}}">
	  {{video.embed_html|safe}}
	</div>
      </div>
    </td>
  {% if forloop.counter|divisibleby:4 %}</tr>{% endif %}
{% endfor %}
{% if not videos|length|divisibleby:4 %}</tr>{% endif %}

</table>
{% endblock %}
