{% load i18n %}

<div id="page6" class="clearfix page-base page__contacts" style="display:none;">
  <div class="holder">
    <div class="nav-arrows nav-arrows__left">
      <a href="#arrow-left" onclick="return nav.arrow_left(this, '5');">&nbsp;</a></div>
    <div class="nav-arrows nav-arrows__right">
      <a href="#arow-right" onclick="return nav.arrow_right(this, '0');">&nbsp;</a></div>
    <div class="page__logo"><span class="logo__image"></span></div>
    <div class="page__wrapper contacts">
      <div class="page__content jscrollpane">
	<h2>contacts</h2>
	<p>
	  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque turpis ante, rhoncus sit amet tincidunt porta, tristique id neque. Vivamus sed nisi mauris. Maecenas mattis nulla sit amet magna ultricies consectetur. Nunc porttitor tellus vitae nisi elementum interdum. Morbi pulvinar nibh a turpis varius ultricies cursus est ornare. Mauris at orci tortor, ac aliquet mauris. Vivamus leo metus, convallis a varius at, pharetra sit amet velit. Curabitur blandit hendrerit blandit. Sed ullamcorper sem sed libero posuere commodo. Quisque rutrum tellus vitae felis egestas semper sed eget elit.
	  
	  Ut volutpat lacus in lectus ullamcorper non fringilla ante sollicitudin. Aliquam vehicula justo et felis bibendum eleifend. Ut a accumsan ante. Etiam interdum condimentum diam, eu sollicitudin metus tincidunt vitae. Nunc mi mauris, pretium eget vulputate ac, dictum id velit. Suspendisse leo sapien, laoreet at lobortis at, mattis eu diam. Praesent turpis tortor, ullamcorper auctor imperdiet quis, aliquet at nunc. Aenean sollicitudin egestas neque ac consectetur. Maecenas lacinia dignissim sagittis. Pellentesque nec turpis lacus, quis pulvinar nulla. Proin nec erat pulvinar nibh dignissim gravida. Donec eleifend sollicitudin magna, placerat varius lorem porta id. In ultrices diam nec magna scelerisque ut faucibus dui egestas. Curabitur neque dolor, pretium et molestie non, venenatis eu felis. Quisque faucibus enim sed odio convallis tempor. Sed iaculis, orci a scelerisque ullamcorper, urna erat laoreet massa, nec pulvinar arcu ipsum ac diam. Donec nec ante vel nisl luctus fermentum.
	  
	  Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut at mi eu libero cursus hendrerit. Morbi semper ultrices semper. Etiam venenatis volutpat risus, non venenatis arcu hendrerit at. Donec quis arcu ipsum. Nunc feugiat interdum porta. Ut varius odio non lacus sollicitudin sollicitudin. Cras magna enim, faucibus varius facilisis vel, ullamcorper nec magna. Curabitur adipiscing imperdiet massa. Aliquam eleifend erat ac mi pellentesque id dignissim elit semper. Maecenas condimentum molestie posuere. Integer vulputate mattis neque, non iaculis est condimentum sed. Nunc lacinia pulvinar adipiscing. Aenean convallis, metus non aliquet ultrices, sem odio scelerisque elit, sed viverra nibh erat ac arcu. Proin id massa massa. Curabitur elementum mollis elementum.
	  
	  Donec sodales felis non sapien rutrum dictum. Phasellus ac est enim. Cras non urna ut urna pulvinar varius at et ipsum. Proin molestie luctus metus, vitae elementum sem adipiscing et. Praesent varius euismod orci quis consectetur. Sed augue leo, tincidunt vel rhoncus id, varius vitae enim. Aliquam et nisl ac diam vestibulum adipiscing rutrum in magna. Proin malesuada, erat vitae hendrerit mollis, enim eros sodales dui, a lacinia arcu dolor in mi. Pellentesque pharetra placerat nisl at aliquet. Phasellus consequat enim sit amet turpis convallis ac aliquet nulla facilisis. Duis nec malesuada nunc. Duis mollis luctus libero, ac ultrices mauris facilisis non. Donec eu diam id dui consectetur lacinia ac ut mauris. Etiam eu nulla in odio porta faucibus. Mauris sollicitudin massa eu neque iaculis varius. Nam eget ante lorem, a pellentesque odio. Morbi facilisis orci nec dui consectetur vitae rutrum leo imperdiet. Nullam consequat rutrum rutrum.
	  
	  Nam sem elit, iaculis ac pellentesque a, lacinia at dui. Vestibulum laoreet porta augue. Morbi tellus ligula, feugiat ut vestibulum eget, molestie eget risus. Donec est neque, feugiat sed convallis id, molestie vitae nunc. Phasellus eleifend, ante vulputate vehicula malesuada, dui turpis placerat sapien, in feugiat justo felis non est. Sed magna lectus, tempus eu lobortis sit amet, euismod eu magna. Nullam molestie, sapien ac imperdiet consequat, nisl sem tristique arcu, id pellentesque mauris quam sed eros. Maecenas eleifend quam sed purus gravida bibendum. Sed sed turpis at arcu fringilla mollis. Donec varius pretium varius.
	</p>
      </div>
    </div>
  </div>
</div>

