{% load i18n %}
{% load html5_news %}

{% get_available_languages as LANGUAGES %}

<div id="page-home" class="clearfix page-base page__home">
  <div class="holder">
    <div class="nav-lang">
      <a href="/ru{% url pages-root %}" class="nav-lang__item {% if 'ru' == LANGUAGE_CODE %}current{%endif%}"
	 {% if 'ru' == LANGUAGE_CODE %} title="{% trans 'Current language' %}"{%endif%}>{% trans 'Russian' %}</a>
      <span class="nav-lang__separator">&nbsp;|&nbsp;</span>
      <a href="/en{% url pages-root %}" class="nav-lang__item {% if 'en' == LANGUAGE_CODE %}current{%endif%}"
	 {% if 'en' == LANGUAGE_CODE %} title="{% trans 'Current language' %}"{%endif%}>English</a>
    </div>
    <div class="nav-arrows nav-arrows__left">
      <a href="#arrow-left" onclick="return nav.arrow_left(this);">&nbsp;</a></div>
    <div class="nav-arrows nav-arrows__right">
      <a href="#arow-right" onclick="return nav.arrow_right(this);">&nbsp;</a></div>
    <div class="page__logo">
      <span class="logo__text clearfix">kristelle.me</span>
      <span class="logo__subtext clearfix">&mdash; news &mdash;</span>
    </div>
    <div class="page__wrapper news main">
      <div class="page__content jscrollpane">
	<div class="inner clearfix">
	{% html5_news_items %}
	</div>
      </div>
    </div>
  </div>
</div>

