{% load i18n %}
{% load html5_music %}
{% load html5_menu %}

<div id="page-music" class="clearfix page-base page__music" style="display:none;">
  <div class="holder">
    <div class="nav-arrows nav-arrows__left">
      <a href="#arrow-left" onclick="return nav.arrow_left(this);">&nbsp;</a></div>
    <div class="nav-arrows nav-arrows__right">
      <a href="#arow-right" onclick="return nav.arrow_right(this);">&nbsp;</a></div>
    <div class="page__logo">
      <span class="logo__text clearfix">kristelle.me</span>
      <span class="logo__subtext clearfix">&mdash; {% trans 'music' %} &mdash;</span>
    </div>
    <div class="page__wrapper music main">
      <div class="context-loader" style="display:none;">{% trans 'Sending Request...' %}</div>
      <div class="page__content jscrollpane">
	<div class="inner clearfix">
	  {% html5_music_stuff %}
	</div>
      </div>
    </div>

    {% footer_menu %}

  </div>
</div>

