{% load i18n %}
{% load html5_photos %}

<div id="page4" class="clearfix page-base page__photos" style="display:none;">
  <div class="holder">
    <div class="nav-arrows nav-arrows__left">
      <a href="#arrow-left" onclick="return nav.arrow_left(this, '3');">&nbsp;</a></div>
    <div class="nav-arrows nav-arrows__right">
      <a href="#arow-right" onclick="return nav.arrow_right(this, '5');">&nbsp;</a></div>
    <div class="page__logo">
      <span class="logo__text clearfix">kristelle.me</span>
      <span class="logo__subtext clearfix">&mdash; {% trans 'photos' %} &mdash;</span>
    </div>
    <div class="page__wrapper photos main">
      <div class="page__content jscrollpane">
	<div class="inner clearfix">
	{% html5_albums_items %}
	</div>
      </div>
    </div>
  </div>
</div>

