{% load i18n %}
{% load html5_videos %}
{% load html5_menu %}

<div id="page-videos" class="clearfix page-base page__videos" style="display:none;">
  <div class="holder">
    <div class="nav-arrows nav-arrows__left">
      <a href="#arrow-left" onclick="return nav.arrow_left(this);">&nbsp;</a></div>
    <div class="nav-arrows nav-arrows__right">
      <a href="#arow-right" onclick="return nav.arrow_right(this);">&nbsp;</a></div>
    <div class="page__logo">
      <span class="logo__text clearfix">kristelle.me</span>
      <span class="logo__subtext clearfix">&mdash; {% trans 'videos' %} &mdash;</span>
    </div>
    <div class="page__wrapper videos main">
      <div class="page__content jscrollpane">
	<div class="inner clearfix">
	{% html5_videos_items %}
	</div>
      </div>
    </div>

    {% footer_menu %}

  </div>
</div>

