{% load i18n %}
{% load html5_wall %}
{% load html5_menu %}

<div id="page-wall" class="clearfix page-base page__wall" style="display:none;">
  <div class="holder">
    <div class="nav-arrows nav-arrows__left">
      <a href="#arrow-left" onclick="return nav.arrow_left(this);">&nbsp;</a></div>
    <div class="nav-arrows nav-arrows__right">
      <a href="#arow-right" onclick="return nav.arrow_right(this);">&nbsp;</a></div>
    <div class="page__logo"><span class="logo__image"></span></div>

    <div class="page__wrapper wall main">
	<div class="page__content jscrollpane">

	{% html5_wall_stuff %}
	</div>
    </div>

    {% footer_menu %}

  </div>
</div>

